.Login>form {
    width: 450px;
    margin: 20px auto;
    text-align: center;
}

.Login .TextBox {
    width: 100%;
    margin: 5px 0;
}

.Login span {
    color: lightseagreen;
    cursor: pointer;
}

.Login span:hover {
    text-decoration: underline;
    color: darkcyan;
    cursor: pointer;
}

.Login input {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 8px;
}

.Login button {
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.Login button:hover {
    background-color: lightseagreen;
}