 .Box {
     display: inline-block;
     margin: 10px;
     padding: 10px;
     border: 1px solid;
     border-radius: 10px;
     box-shadow: 5px 5px 10px;
     background-color: whitesmoke;
     opacity: .9;
 }

 .AddVacation input {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 8px;
}

.AddVacation .InputImage {
    border: 0px;
}

 .AddVacation form>input,
 form>button {
     border-radius: 9px;
 }

.AddVacation .DescriptionTextBox {
    padding: 20px;
    font-size: 18px;
}

.AddVacation button {
    border: 0px;
    color: darkcyan;
}

 .AddVacation form>button:hover {
    cursor: pointer;
    border: 1px solid darkcyan;
    width: 50%;
    margin-left: 76px;
    font-weight: 550;
    color: darkcyan;
 }