.VacationsReports .BarCharts {
    background-color: whitesmoke;
    border: 0.5px solid darkgreen;
    border-radius: 5px;
    margin-left: 6%;
    padding-top: 10px;
    padding-right: 10px;
}

.VacationsReports .CsvBtn {
    opacity: .9;
}

.VacationsReports .CsvBtn:hover {
    opacity: 1;
    color: darkgreen;
}