.EditVacation input {
    border-radius: 5px;
}

.EditVacation button {
    border: 0px;
    color: darkcyan;
}

.EditVacation button:hover {
    cursor: pointer;
    border: 1px solid darkcyan;
    width: 50%;
    margin-left: 76px;
    font-weight: 550;
    color: darkcyan;
}