.EditVacation input {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 8px;
}

.EditVacation .InputImage {
    border: 0px;
}

.EditVacation .CurrentImage {
    width: 300px;
    height: 160px;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

.EditVacation .DescriptionTextBox {
    padding: 20px;
    font-size: 15px;
}

.EditVacation button {
    border: 0px;
    color: darkcyan;
}

.EditVacation button:hover {
    cursor: pointer;
    border: 1px solid darkcyan;
    width: 50%;
    margin-left: 76px;
    font-weight: 550;
    color: darkcyan;
}