.Register > form {
    width: 450px;
    margin: 20px auto;
    text-align: center;
}

.Register input {
    border-radius: 5px;
}

.Register button {
    background-color: lightseagreen;
    width: 50%;
    cursor: pointer;
}
.Register span {
    color: lightseagreen;
    cursor: pointer;
}

.Register span:hover {
    text-decoration: underline;
    color: darkcyan;
    cursor: pointer;
}