.Register > form {
    width: 450px;
    margin: 20px auto;
    text-align: center;
}

.Register input {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 8px;
}

.Register button {
    width: 50%;
    cursor: pointer;
}

.Register button:hover {
    background-color: lightseagreen;
}

.Register span {
    color: lightseagreen;
    cursor: pointer;
}

.Register span:hover {
    text-decoration: underline;
    color: darkcyan;
    cursor: pointer;
}